body
{background-image:url('../Image/2.jpg'); background-repeat:repeat;  background-position: bottom; background-attachment:fixed;
}

.nav-container{ background: url('images/nav_bg.jpg') repeat-x 0 0;color:#FFFFFF}
		.nav-container li a{ color:#FFFFFF}
    .f-nav{ z-index: 9999;color:#FFFFFF; position: fixed; left: 0; top: 0; width: 100%;} 
#menu
{  width:955px;padding-left:8px; margin-left:-10px
}
#topheader{width:100%}

#topmenu {
  border: none;
  border: 0px;
  padding: 0px;
  font: 67.5% 'Lucida Sans Unicode', 'Bitstream Vera Sans', 'Trebuchet Unicode MS', 'Lucida Grande', Verdana, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: bold;
  float: right;


 
}
#topmenu ul {
 
  height: 15px;
  list-style: none;
  margin: 0;
  padding: 0;
}
#topmenu li {
  float: right;
  padding: 0px;
}
#topmenu li a {
  background: url('../Image/Index/seperator1.gif') bottom left no-repeat;);
  display: block;
  font-weight: normal;
  line-height: 20px;
  margin: 0px;
  padding: 0px 4px;
  text-align: center;
  text-decoration: none;
}
#topmenu > ul > li > a {
  color:black;
}

#topmenu li > a:hover,
#topmenu ul li:hover > a {
  background:#003399 url('Images/Index/hover.png') bottom center no-repeat;
  color: #FFFFFF;
  text-decoration: none;
}

#topmenu p {
  clear: left;
}

#tophtxt{color:#FFFF00; font-size:14px; font-weight:bold}
#mainmenu1
 {
height:35px;

  font: 69.5% 'Lucida Sans Unicode', 'Bitstream Vera Sans', 'Trebuchet Unicode MS', 'Lucida Grande', Verdana, Helvetica, sans-serif;
  font-size: 13.5px;
  font-weight:bold;
  
}
#mainmenu1 ul {

  height: 35px;
  list-style: none;
  margin: 0;
 

}
#mainmenu1 li {
  float: left;
  padding: 0px;
}
#mainmenu1 li a {
  background:#0066CC url('../Image/Index/seperator.gif') bottom left no-repeat;);
  display: block;
  font-weight: normal;
  line-height: 26px;
  margin-right: 10px;
  margin-top:8px;
  padding: 0px 8px;
  text-align: center;
  text-decoration: none;
  font-weight:bold; color:#FFFFFF
}
#mainmenu1 > ul > li > a {
  color: #fff;
  font-weight:bold;
}
#mainmenu1 ul ul a {
  color: #ffffff;
  font-weight:normal;font-size:15px; 
}
#mainmenu1 li > a:hover{
background-color:#003366}
#mainmenu1  ul li:hover > a {
  background:#003366;
  color: #ffffff;
}
#mainmenu1 ul li:hover > span {
background-color:#333333;
  color:#FFFF00; font-weight:normal;
  text-decoration: none;
}
#mainmenu1 li ul {
	background-color:#666666;
	display: none;
	height: auto;
	padding: 0px;
	margin-top:0px;
	margin-left: 0px;
	border:solid 0px ;
	border-radius:10px 10px 10px 10px;
	position: absolute;
	width: 900px;
	z-index: 200;
  /*top:1em;
	/*left:0;*/

}

#mainmenu1 li:hover ul {
  display: block;
  
}
#mainmenu1 li li {
  display: block;
  float: left;
  margin: 0px;
  padding: 0px;
  width: 174px;
}
#mainmenu1 li:hover li a {
  background: #fff
}

#mainmenu1 p {
  clear: left;
}


#tab{background-color:#666666}
#tab1 li:hover{background-color:#333333}
#tab2{margin-left:-150px}
#tab2 li:hover{background-color:#333333}
#tab3{margin-left:-300px}
#tab3 li:hover{background-color:#333333}
#tab4{margin-left:-500px}
#tab4 li:hover{background-color:#333333}
#tab5{margin-left:-450px}
#tab5 li:hover{background-color:#333333}



#border
{border:solid #0066ff 10px; height:26px;margin-left:-10px;margin-right:-8px;}
#border1{background-color:#0066FF; }

#footer{
	width:100%;
	padding:0px;
	background:#2C2C2C;
	color:#fff;
	font-size:11px;        /*B50905;*/
}

#footer .footer-navbar{
	width:100%;
	padding:0px;
	font-family:Verdana, Geneva, sans-serif;
}

#footer .footer-navbar .footer-navbar-wrapper{
width:100%;

}

#footer .footer-navbar-wrapper ul.menu{
margin:5px 0px;
padding:0px;
text-align:center;
}

#footer .footer-navbar-wrapper ul.menu li{
margin:0px;
padding:0px;
list-style:none;
display:inline;
border-right:1px solid #fff;
}
#footer .footer-navbar-wrapper ul.menu li:last-child {
border:none;
}
#footer .footer-navbar-wrapper ul.menu li a{
color:#fff;
font-weight:normal;
text-decoration:none;
margin:0px 2px 0px 2px;
padding-right:5px;
padding:0px 10px;
font-size:13px;

text-align:center;
}
#footer .footer-navbar-wrapper ul.menu li a:hover, #footer .footer-navbar-wrapper ul.menu li a.active{
color:#FFFF00; 
}

#footer .footer-bottom{
width:100%;

}

.footer-bottom .footer-bottom-left{
width:350px;
margin:0px;
padding:10px 0px;
float:left;
color:#fff;
}

.footer-bottom-left a{
font-family:Verdana, Geneva, sans-serif;
text-decoration:none;
color:#fff;
font-size:12px;
}

.footer-bottom .footer-bottom-right{
width:350px;
margin:0px;
padding:10px 0px;
text-align:right;
float:right;
color:#fff;
}

.footer-bottom-right a{
font-family:Verdana, Geneva, sans-serif;
text-decoration:none;
color:#fff;
text-decoration:underline;
font-size:12px;
}
.footer-bottom-right a:hover{
font-family:Verdana, Geneva, sans-serif;
text-decoration:none;
color:#000;
font-size:12px;
}
