<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
        <customErrors mode="Off"/>
    
  </system.web>
  <system.net>
    <mailSettings>
      <smtp from="kanaiyatravels@gmail.com">
        <network defaultCredentials="true" host="Kanaiyatravels" password=""
          userName="" />
      </smtp>
    </mailSettings>
  </system.net>
</configuration>