body
{
	margin:0 auto;
	font-family:Arial, Helvetica, sans-serif;
	background-image:url('Image/Index/bg.jpg');jpg);
	background-position:top;
	background-attachment:fixed;
	background-repeat:no-repeat;
	color:#666666;
	font-size:14px;
}
a
{
	color:#0b68be;
	font-size:14px;
	text-decoration:none;
}
a:hover
{
	color:#333333;
}
p
{
	padding-left:10px;
	padding-right:10px;
	color:#666666;
	text-align:justify;
	line-height:20px;
}
ul li
{
	line-height:25px;
	text-align:justifyl
}
.main-text
{
	font-family:"trebuchet MS";
	font-size:24px;
	color:#f9353f;
	font-weight:normal;
	padding-left:10px;
	text-transform: uppercase;
}
.main-text-01
{
	font-family:"trebuchet MS";
	font-size:24px;
	color:#f9353f;
	font-weight:normal;
	text-transform: uppercase;
}
.main-text-small
{
	font-family:Arial, Helvetica, sans-serif;
	font-size:24px;
	color:#000000;
	padding-left:10px;
	font-weight:bold;
}
#main-text-001
{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#f9353f;
	font-weight:bold;
	padding-left:10px;
	text-transform: uppercase;
}
.main-text-002
{
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#666666;
	font-weight:bold;
	text-transform: capitalize;
}
.main-text-003
{
	font-family:"trebuchet MS";
	font-size:18px;
	color:#FF9900;
	font-weight:lighter;
	text-transform: capitalize;
}
.Image
{
	background: linear-gradient(to bottom, #FFFFFF 64%, #F7F6F4 100%) repeat scroll 0 0 transparent;
	border: 1px solid #E0E0E0;
	border-radius: 5px 5px 5px 5px;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.08);
    padding: 5px;
    vertical-align: top;
}
.Image-002
{
	background: linear-gradient(to bottom, #FFFFFF 64%, #F7F6F4 100%) repeat scroll 0 0 transparent;
	border: 1px solid #E0E0E0;
	border-radius: 5px 5px 5px 5px;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.08);
    padding: 5px;
	width:185px;
	height:100px;
    vertical-align: top;
}
#Image-001
{
	background: linear-gradient(to bottom, #FFFFFF 64%, #F7F6F4 100%) repeat scroll 0 0 transparent;
	border: 1px solid #E0E0E0;
	border-radius: 5px 5px 5px 5px;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.08);
    padding: 5px;
    vertical-align: top;
}
.text-box
{
	background: linear-gradient(to bottom, #FFFFFF 64%, #F7F6F4 100%) repeat scroll 0 0 transparent;
	border: 1px solid #CCCCCC;
	border-radius: 5px 5px 5px 5px;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.08);
    padding: 5px 5px 5px;
    vertical-align: top;
}
/*read more s*/
.read-more
{
	font-family:"trebuchet MS";
	font-size:14px;
	color:#FFFFFF;
}
.read-more a
{
	font-size:14px;
	color:#000;
	text-transform:uppercase;
}
.read-more td
{
	background-color:#f3c945;
}
.read-more td:hover
{
	background-color:#4bb033;
}
/*read more e*/
#padding-left
{
	padding-left:10px;
}
#padding-left-top
{
	padding-left:10px;
	padding-top:10px;
}
#padding-left-right
{
	padding-left:10px;
	padding-right:10px;
}
#padding-left-bottom
{
	padding-left:10px;
	padding-bottom:10px;
}
#padding-right
{
	padding-right:10px;
}
#padding-right-top
{
	padding-right:10px;
	padding-top:10px;
}
#padding-right-bottom
{
	padding-right:10px;
	padding-bottom:10px;
}
#padding-right-left
{
	padding-right:10px;
	padding-left:10px;
}
#padding-top
{
	padding-top:10px;
}
#padding-top-right
{
	padding-top:10px;
	padding-right:10px;
}
#padding-top-left
{
	padding-top:10px;
	padding-left:10px;
}
#padding-top-bottom
{
	padding-top:10px;
	padding-bottom:10px;
}
#padding-bottom
{
	padding-bottom:10px;
}
#padding-bottom-top
{
	padding-bottom:10px;
	padding-top:10px;
}
#padding-bottom-left
{
	padding-bottom:10px;
	padding-left:10px;
}
#padding-bottom-right
{
	padding-bottom:10px;
	padding-right:10px;
}
#pading-all
{
	padding:10px;
}
#table-border td
{
	border:1px solid #CCCCCC;
	border-radius:0px;
}
#table-border-top
{
	border-top:1px solid #be1615;
}
#table-border-top-left
{
	border-top:1px solid #be1615;
	border-left:1px solid #be1615;
}
#table-border-top-right
{
	border-top:1px solid #be1615;
	border-right:1px solid #be1615;
}
#table-border-top-bottom
{
	border-top:1px solid #be1615;
	border-bottom:1px solid #be1615;
}
#table-border-bottom
{
	border-bottom:1px solid #be1615;
}
#table-border-bottom-left
{
	border-bottom:1px solid #be1615;
	border-left:1px solid #be1615;
}
#table-border-bottom-right
{
	border-bottom:1px solid #be1615;
	border-right:1px solid #be1615;
}
#table-border-bottom-top
{
	border-bottom:1px solid #be1615;
	border-top:1px solid #be1615;
}
#table-border-right
{
	border-right:1px solid #be1615;
}
#table-border-right-left
{
	border-right:1px solid #be1615;
	border-left:1px solid #be1615;
}
#table-border-right-bottom
{
	border-right:1px solid #be1615;
	border-bottom:1px solid #be1615;
}
#table-border-right-top
{
	border-right:1px solid #be1615;
	border-top:1px solid #be1615;
}
#table-border-left
{
	border-left:1px solid #be1615;
}
#table-border-left-right
{
	border-left:1px solid #be1615;
	border-right:1px solid #be1615;
}
#table-border-left-bottom
{
	border-left:1px solid #be1615;
	border-bottom:1px solid #be1615;
}
#table-border-left-top
{
	border-left:1px solid #be1615;
	border-top:1px solid #be1615;
}
#header {
  position: fixed;
  width:100%;
  table-layout:fixed;
  z-index:999999;
}
#padding-left-right-five-px
{
	padding-left:5px;
	padding-right:5px;
}
.table-shadow
{
	box-shadow: 0 5px 5px #999999;
}
/*top-menu s*/
.top-menu-radius
{
	border-radius:5px;
}
.top-menu-radius a
{
	color:#FFFFFF;
	font-size:12px;
	font-weight:bold;
	text-transform:uppercase;
}
/*top-menu e*/
/*footer s*/
.footer
{
	color:#2b2425;
	font-weight:bold;
	font-size:14px;
}
.footer a
{
	color:#2b2425;
	padding:10px;
	font-size:14px;
	text-transform:none;
}
.footer a:hover
{
	color:#c80c22;
}
/*footer e*/

.visa-menu 
{
	color:#2b2425;
	font-weight:bold;
	font-size:12px;
	line-height:25px;
	border-top:thin dotted #be1615;
}
.visa-menu a
{
	color:#2b2425;

	font-size:12px;
	text-transform:capitalize;
}
.visa-menu a:hover
{
	color:#c80c22;
}
